[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "python -m unittest discover"
lint = "pylint src/ test/"
